Django==1.7.2
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
django-annoying==0.8.0
django-grappelli==2.6.3
itsdangerous==0.24
requests==2.5.1
shortuuid==0.4.2
uWSGI==2.0.9
wsgiref==0.1.2
